<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noticia 2</title>

    <!-- Links -->

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-straight/css/uicons-regular-straight.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.4.0/uicons-brands/css/uicons-brands.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="../css/noticia.css" />
    <link rel="stylesheet" href="../css/config.css" />
    <link rel="stylesheet" href="../css/header.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/main.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- HEADER -->

    <header id="headerBox">
      <nav class="navbar">
        <div class="container-fluid general-nav">
          <a class="header-title" href="/">ETEC NEWS</a>

          <div class="nav-div">
            <nav class="navBar">
              <a href="/" class="navLink">HOME</a>
              <a href="/#mainBox" class="navLink">NOTICIAS</a>
              <a href="#footerSection" class="navLink">CONTATOS</a>
            </nav>

            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Buscar noticia"
                aria-label="Buscar"
              />
              <button
                class="btn btn btn-outline-primary search-btn"
                type="submit"
              >
                Buscar
              </button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <!-- MAIN -->

    <main class="mainNoticia">
      <section class="sectionCards">
        <div class="imgCard">
          <img
            src="../imagens/imgChampion2.jpg"
            alt="champion imagem 2"
            class="imgNoticia5 img-noticia"
          />
        </div>
        <div class="text2">
          <h2 class="tituloDescricao">
            Real Madrid Campeão da Copa dos Campeões
          </h2>
          <p class="descricaoNoticia">
            Sozinho, o Real Madrid estaria no mesmo patamar do conjunto dos
            clubes da Inglaterra vencedores da Liga dos Campeões. Liverpool,
            Manchester United, Aston Villa, Nottingham Forest e Manchester City
            somam o mesmo número de títulos do time espanhol.
            <br />
            <br />
            A Champions League começou a ser disputada na temporada 1955/1956,
            ainda sob o nome da Copa dos Campeões da Europa (e com o Real Madrid
            vencedor da primeira edição). A versão moderna do torneio começou em
            1992/1993, com o Olympique de Marselha campeão - único clube francês
            a levantar a orelhuda.
          </p>
        </div>
        <div class="text3">
          <p class="descicaoNoticia">
            O Real Madrid conseguiu neste sábado (1º) algo que é a obsessão de
            muitos clubes, mas uma rotina na sua história: o título da Champions
            League.
            <br />
            <br />
            Em Wembley, os merengues bateram o Borussia Dortmund para abocanhar
            a 15ª taça do maior torneio de clubes da Europa. Os gols foram
            marcados por Carvajal e Vinicius Jr.
            <br />
            <br />
            A conquista faz a equipe espanhola se isolar ainda mais no ranking
            de maiores vencedores da Liga dos Campeões. Com 15, o Real Madrid
            tem mais que o dobro do Milan, aquele que mais se aproxima em
            títulos, com sete.
            <br />
            <br />
            O Dortmund, ao perder a segunda das três finais de Champions de sua
            história, permanece com apenas um título.
          </p>
        </div>
      </section>
    </main>

    <!-- FOOTER -->

    <footer class="footerBox">
      <section id="footerSection">
        <div class="contatoBox">
          <div class="nameContato">Guilherme Custodio Nieto</div>
          <div class="contatoBar">
            <a href="https://github.com/GuilhermeCustodioNieto"
              ><i class="fi fi-brands-github icon github"></i
            ></a>
            <a href="https://www.linkedin.com/in/guilherme-cust%C3%B3dio-nieto/"
              ><i class="fi fi-brands-linkedin icon linkedin"></i
            ></a>
            <a href="https://www.facebook.com/guilherme.custodio.94064"
              ><i class="fi fi-brands-facebook icon facebook"></i
            ></a>
          </div>
        </div>

        <div class="contatoBox">
          <div class="nameContato">Lucas Caribé Araújo</div>
          <div class="contatoBar">
            <a href="https://github.com/LucasCaribeAraujo"
              ><i class="fi fi-brands-github icon github"></i
            ></a>
            <a href="https://github.com/LucasCaribeAraujo"
              ><i class="fi fi-brands-linkedin icon linkedin"></i
            ></a>
            <a href="https://github.com/LucasCaribeAraujo"
              ><i class="fi fi-brands-facebook icon facebook"></i
            ></a>
          </div>
        </div>
      </section>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
