<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia 3</title>

    <!-- Links -->

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/noticia.css">
    <link rel="stylesheet" href="../css/config.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!-- HEADER -->

    <header id="headerBox">
        <!-- Logo -->
            <div class="logotipoBox">
                <img src="../imagens/logotipo.png" alt="logotipo" class="logotipo">
            </div>
    
            <!-- Barra de Navegação -->
            <div class="navBox">
                <nav class="navBar">
                    <a href="/" class="navLink">Home</a>
                    <a href="#mainNoticia" class="navLink">Noticia</a>
                    <a href="#footerSection" class="navLink">Contato</a>
                    <a href="#footerSection" class="navLink">Rodapé</a>
                </nav>
            </div> 
    </header>

    <!-- MAIN -->

    <main class="mainNoticia">

        <section class="sectionCards">
            <div class="imgCard">
                <img src="../imagens/imgDinheiro2.jpg" alt="dinheiro imagem 2" class="imgNoticia5">
            </div>
            <div class="text2">
                <h2 class="tituloDescricao">Mudanças nas Leis trabalhistas</h2>
                <p class="descricaoNoticia">
                    Governo Federal confirmou nesta quarta-feira, 27 de dezembro, o valor de R$ 1.412 para o novo salário-mínimo em 2024. O valor — que representa uma alta de 6,97% em comparação aos R$ 1.320 em vigor neste ano — entra em vigor em 1º de janeiro e será pago a trabalhadores, aposentados, pensionistas e pessoas que recebem benefícios de auxílio-doença ou de prestação continuada (BPC).
                    <br>
                    <br>
                    O Decreto 11.864/23 foi publicado em edição extra do Diário Oficial da União.
                </p>
            </div>
            <div class="text3">
                <p class="descicaoNoticia">
                    O reajuste, antecipado na semana passada pelo ministro do Trabalho e Emprego, Luiz Marinho, só foi possível devido às diretrizes do Grupo de Trabalho de Valorização do Salário Mínimo, criado em fevereiro pelo presidente da República, Luiz Inácio Lula da Silva (Decreto 11.420/23). O cálculo feito pelo GT considera a variação da inflação do ano anterior, medida pelo Índice Nacional de Preços ao Consumidor (INPC), e o crescimento real do Produto Interno Bruto (PIB) de dois anos anteriores.
                    <br>
                    <br>
                    Com efeito, o novo valor inclui a inflação em 12 meses (até novembro) de 3,85% e mais três pontos percentuais (ganho real) relativos à expansão do PIB em 2022. A política de valorização do salário mínimo é um compromisso assumido ainda no início do ano. O próprio salário mínimo de R$ 1.320 foi definido a partir de maio e anunciado em pronunciamento do presidente à nação. No início de 2023, o salário mínimo era de R$ 1.302.
                    <br>
                    <br>
                    No mesmo mês, o governo brasileiro enviou ao Congresso proposta de política de valorização do salário mínimo. O texto previa a retomada da fórmula que leva em conta o crescimento econômico do país e a recomposição de perdas inflacionárias. "É preciso lembrar que a valorização do salário mínimo não é essencial apenas para quem ganha salário mínimo. Com mais dinheiro em circulação, as vendas do comércio aumentam, a indústria produz mais.
                </p>
            </div>
        </section>

    </main>

     <!-- FOOTER -->

     <footer class="footerBox">
        <section id="footerSection">
            <div class="contatoBox">
                <div class="nameContato">Guilherme Custodio Nieto</div>
                <div class="contatoBar">
                    <a href="https://github.com/GuilhermeCustodioNieto"><i class="fi fi-brands-github icon github"></i></a>
                    <a href="https://www.linkedin.com/in/guilherme-cust%C3%B3dio-nieto/"><i class="fi fi-brands-linkedin icon linkedin"></i></a>
                    <a href="https://www.facebook.com/guilherme.custodio.94064"><i class="fi fi-brands-facebook icon facebook"></i></a>
                </div>
            </div>
            

            <div class="contatoBox">
                <div class="nameContato">Lucas Caribé Araújo</div>
                <div class="contatoBar">
                    <a href="https://github.com/LucasCaribeAraujo"><i class="fi fi-brands-github icon github"></i></a>
                    <a href="https://github.com/LucasCaribeAraujo"><i class="fi fi-brands-linkedin icon linkedin"></i></a>
                    <a href="https://github.com/LucasCaribeAraujo"><i class="fi fi-brands-facebook icon facebook"></i></a>
                </div>
            </div>
        </section>

        <a href="#headerBox" class="return"><i class="fi fi-rr-arrow-small-up"></i></a>
        <p class="copy">Site Criado por Lucas Caribé e Guilherme &copy;</p>

    </footer>
</body>