<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticia 4</title>

    <!-- Links -->

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-brands/css/uicons-brands.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/noticia.css">
    <link rel="stylesheet" href="../css/config.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <!-- HEADER -->

    <header id="headerBox">
        <!-- Logo -->
            <div class="logotipoBox">
                <img src="../imagens/logotipo.png" alt="logotipo" class="logotipo">
            </div>
    
            <!-- Barra de Navegação -->
            <div class="navBox">
                <nav class="navBar">
                    <a href="/" class="navLink">Home</a>
                    <a href="#mainNoticia" class="navLink">Noticia</a>
                    <a href="#footerSection" class="navLink">Contato</a>
                    <a href="#footerSection" class="navLink">Rodapé</a>
                </nav>
            </div> 
    </header>

   <!-- MAIN -->

   <main class="mainNoticia">

    <section class="sectionCards">
        <div class="imgCard">
            <img src="../imagens/imgFaculdade2.jpg" alt="faculdade imagem 2" class="imgNoticia5">
        </div>
        <div class="text2">
            <h2 class="tituloDescricao">Faculdades não estão preenchendo as cotas especuladas de incrições</h2>
            <p class="descricaoNoticia">
                Faculdades bão batem suas cotas esperadas de inscrições nos dois semestres do ano, e isso pode mostrar uma falta de interesse por parte dos jovens. Especialista afirmam que a situação é incomum, já que nunca aconteceu antes...
                <br>
                <br>
                Provavelmente, você tem um objetivo ou um grande sonho para perseguir. Poder ser viajar o mundo, ser um profissional bem-sucedido, receber o reconhecimento por aquilo que faz de forma impecável, tornar-se referência de uma determinada área, dar entrevistas e por aí vai.
            </p>
        </div>
        <div class="text3">
            <p class="descicaoNoticia">
                Existe uma frase motivacional que, vez ou outra, aparece nas redes sociais: “quanto mais eu estudo, mais sorte pareço ter”. E ela se prova muito verdadeira. Pesquise sobre a vida de nomes como Barack Obama, que logo no princípio de sua graduação de Direito se destacava. Ou Emma Watson, que fez questão de se formar mesmo com todo o sucesso como atriz. Eles sempre foram bons alunos e se despontaram por mérito, não por indicação ou destino.
                <br>
                <br>
                Tudo o que você quiser fazer pede conhecimento. Até no caso de herdeiros, que só precisam mesmo manter os negócios da família crescendo: sem estudo, as chances de colocar todo um império a perder são bastante altas. Mais do que riqueza e bens, ter uma boa educação se torna um patrimônio que ninguém pode tirar de você, já pensou nisso?
                <br>
                <br>
                Mas não adianta nada cursar uma graduação só porque “tem que fazer”, sem foco, sem buscar conhecimento, apenas para preencher espaço no seu currículo. Cedo ou tarde, o seu aprendizado será colocado à prova e você precisa saber colocar em prática o que diz no LinkedIn. É preciso muita dedicação, além de várias dicas para escolher o curso certo ao seu perfil — e é exatamente este conteúdo que você lê na sequência.
            </p>
        </div>
    </section>

</main>

     <!-- FOOTER -->

     <footer class="footerBox">
        <section id="footerSection">
            <div class="contatoBox">
                <div class="nameContato">Guilherme Custodio Nieto</div>
                <div class="contatoBar">
                    <a href="https://github.com/GuilhermeCustodioNieto"><i class="fi fi-brands-github icon github"></i></a>
                    <a href="https://www.linkedin.com/in/guilherme-cust%C3%B3dio-nieto/"><i class="fi fi-brands-linkedin icon linkedin"></i></a>
                    <a href="https://www.facebook.com/guilherme.custodio.94064"><i class="fi fi-brands-facebook icon facebook"></i></a>
                </div>
            </div>
            

            <div class="contatoBox">
                <div class="nameContato">Lucas Caribé Araújo</div>
                <div class="contatoBar">
                    <a href="https://github.com/LucasCaribeAraujo"><i class="fi fi-brands-github icon github"></i></a>
                    <a href="https://github.com/LucasCaribeAraujo"><i class="fi fi-brands-linkedin icon linkedin"></i></a>
                    <a href="https://github.com/LucasCaribeAraujo"><i class="fi fi-brands-facebook icon facebook"></i></a>
                </div>
            </div>
        </section>

        <a href="#headerBox" class="return"><i class="fi fi-rr-arrow-small-up"></i></a>
        <p class="copy">Site Criado por Lucas Caribé e Guilherme &copy;</p>

    </footer>
</body>