<h1>Sistema com NodeJS</h1>
    <h2>Sistema teste</h2>

    <header>
      <nav>
        <ul>
          <li><a href="/login">LOGIN</a></li>
        </ul>
      </nav>
    </header>

    <main>
        <h1>Welcome {{{user.name}}}</h1>   
    </main>

    