<div class="card">
  <div class="card-box p-4">
    <h1>{{noticia.titulo}}</h1>
    <hr />
    <small>Data de publicação: {{noticia.data}}</small>
    <br />
    <hr />
    {{noticia.conteudo}}
  </div>
</div>