<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <title>Hello, world</title>
</head>
<body>
    <h1>Site de fofocas</h1>

    <h2>Sla, isso é um teste</h2>

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi quis officia similique architecto? Quod officia veritatis cupiditate. Aspernatur ducimus officiis, officia nostrum labore nulla culpa at aliquid architecto placeat quasi?

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem fugit fuga eum maxime magni, quaerat qui natus ducimus vero non numquam dolorum rerum laborum earum, omnis a voluptas officia esse.

    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum expedita quod libero ullam aperiam corrupti molestiae sapiente nostrum cum officia omnis rem consequatur ex eius quibusdam, placeat optio, error provident.
</body>
</html>