<header id="headerBox">
  <nav class="navbar">
    <div class="container-fluid general-nav">
      <a class="header-title" href="/">ETEC NEWS</a>

      <div class="nav-div">
        <nav class="navBar">
          <a href="/" class="navLink">HOME</a>
          <a href="/#mainBox" class="navLink">NOTICIAS</a>
          <a href="#footerSection" class="navLink">CONTATOS</a>
        </nav>

        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Buscar noticia"
            aria-label="Buscar"
          />
          <button class="btn btn btn-outline-primary search-btn" type="submit">
            Buscar
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

<!-- MAIN -->

<main id="mainBox">
  <section class="sectionCards" id="faculdade-card">
    <div class="cardBox">
      <div class="imgBox">
        <a href="/energia-eolica" class="linkImg"
          ><img
            src="/imagens/imgEolica.jpeg"
            alt="imagem Noticia 1"
            class="imgNoticia1"
        /></a>
      </div>
      <div class="descricaoBox">
        <p class="dataDescricao">Setembro 03,2023 - Guilherme Custódio Nieto</p>
        <h2 class="tituloDescricao1">
          Energia Eólica representa quase 27% da produção total do Brasil.
        </h2>
      </div>
    </div>

    <div class="cardBox">
      <div class="imgBox">
        <a href="/real-madrid" class="linkImg"
          ><img
            src="/imagens/imgChampion.jpg"
            alt="imagem Noticia 2"
            class="imgNoticia"
        /></a>
      </div>
      <div class="descricaoBox">
        <p class="dataDescricao">Abril 03,2024 - Lucas Caribé Araújo</p>
        <h2 class="textDescricao">
          Confira agora Real Madrid Campeão da Copa dos Campeões
        </h2>
      </div>
    </div>

    <div class="cardBox">
      <div class="imgBox">
        <a href="/mudancas-leis-trabalhistas" class="linkImg"
          ><img
            src="./imagens/imgDinheiro.jpg"
            alt="imagem Noticia 3"
            class="imgNoticia"
        /></a>
      </div>
      <div class="descricaoBox">
        <p class="dataDescricao">Agosto 28,2023 - Guilherme Custódio Nieto</p>
        <h2 class="textDescricao">
          Confira agora as ultimas mudanças nas Leis trabalhistas
        </h2>
      </div>
    </div>
  </section>

  <section class="sectionCards">
    <div class="text">
      <p class="dataDescricao">Novembro 19,2023 - Guilherme Custódio Nieto</p>
      <h2 class="tituloDescricao1">
        Faculdades não estão preenchendo as cotas especuladas de incrições
      </h2>
      <p class="descricaoText">
        Faculdades bão batem suas cotas esperadas de inscrições nos dois
        semestres do ano, e isso pode mostrar uma falta de interesse por parte
        dos jovens. Especialista afirmam que a situação é incomum, já que nunca
        aconteceu antes...
      </p>
    </div>
    <div class="text1">
      <a href="/cotas-de-faculdades" class="link"
        >Ler Mais <i class="fi fi-rs-arrow-up-right detail"></i
      ></a>
    </div>
    <div class="img">
      <img
        src="./imagens/imgFaculdade.jpeg"
        alt="foto Faculdade"
        class="imgNoticia2"
      />
    </div>
  </section>

  <section class="sectionCards" id="noticia5">
    <div class="text">
      <p class="dataDescricao">02 de Junho de 2024 - Lucas Caribé Araújo</p>
      <h2 class="tituloDescricao1">
        Coreia do Norte envia mais de 600 balões de lixo para Coreia do Sul
      </h2>
      <p class="descricaoText">
        A Coreia do Norte enviou cerca de 600 balões carregando lixo para a
        Coreia do Sul durante a noite, disse Seul neste domingo (2), na mais
        recente medida de Pyongyang para irritar seu vizinho rival.
      </p>
    </div>
    <div class="text1">
      <a href="/coreia-do-norte" class="link"
        >Ler Mais <i class="fi fi-rs-arrow-up-right detail"></i
      ></a>
    </div>
    <div class="img">
      <img
        src="./imagens/imgCoreia2.jpg"
        alt="foto Faculdade"
        class="imgNoticia2"
      />
    </div>
  </section>
</main>

<!-- FOOTER -->

<footer class="footerBox">
  <section id="footerSection">
    <div class="contatoBox">
      <div class="nameContato">Guilherme Custodio Nieto</div>
      <div class="contatoBar">
        <a href="https://github.com/GuilhermeCustodioNieto"
          ><i class="fi fi-brands-github icon github"></i
        ></a>
        <a href="https://www.linkedin.com/in/guilherme-cust%C3%B3dio-nieto/"
          ><i class="fi fi-brands-linkedin icon linkedin"></i
        ></a>
        <a href="https://www.facebook.com/guilherme.custodio.94064"
          ><i class="fi fi-brands-facebook icon facebook"></i
        ></a>
      </div>
    </div>

    <div class="contatoBox">
      <div class="nameContato">Lucas Caribé Araújo</div>
      <div class="contatoBar">
        <a href="https://github.com/LucasCaribeAraujo"
          ><i class="fi fi-brands-github icon github"></i
        ></a>
        <a href="https://github.com/LucasCaribeAraujo"
          ><i class="fi fi-brands-linkedin icon linkedin"></i
        ></a>
        <a href="https://github.com/LucasCaribeAraujo"
          ><i class="fi fi-brands-facebook icon facebook"></i
        ></a>
      </div>
    </div>
  </section>
</footer>
