<body>
  <!-- HEADER -->

  <header id="headerBox">
    <nav class="navbar">
      <div class="container-fluid general-nav">
        <a class="header-title" href="/">ETEC NEWS</a>

        <div class="nav-div">
          <nav class="navBar">
            <a href="/" class="navLink">HOME</a>
            <a href="/#mainBox" class="navLink">NOTICIAS</a>
            <a href="#footerSection" class="navLink">CONTATOS</a>
          </nav>

          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Buscar noticia"
              aria-label="Buscar"
            />
            <button
              class="btn btn btn-outline-primary search-btn"
              type="submit"
            >
              Buscar
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!-- MAIN -->

  <main class="mainNoticia">
    <section class="sectionCards">
      <div class="imgCard">
        <img
          src="./imagens/imgCoreia1.jpg"
          alt="faculdade imagem 2"
          class="imgNoticia5 img-noticia"
        />
      </div>
      <div class="text2">
        <h2 class="tituloDescricao">
          Coreia do Norte envia mais de 600 balões de lixo para Coreia do Sul
        </h2>
        <p class="descricaoNoticia">
          A Coreia do Norte enviou cerca de 600 balões carregando lixo para a
          Coreia do Sul durante a noite, disse Seul neste domingo (2), na mais
          recente medida de Pyongyang para irritar seu vizinho rival.
          <br />
          <br />
          O ministro da Defesa da Coreia do Sul, Shin Won-sik, disse durante uma
          reunião com o secretário da Defesa dos EUA, Austin Lloyd, à margem do
          diálogo de segurança de Shangri-La, em Singapura, que os balões
          violaram o acordo de armistício, de acordo com os militares
          sul-coreanos.
        </p>
      </div>
      <div class="text3">
        <p class="descicaoNoticia">
          Os dois reafirmaram uma resposta coordenada a quaisquer ameaças e
          provocações norte-coreanas com base na postura de defesa combinada da
          aliança Coreia do Sul-EUA, acrescentou.
          <br />
          <br />
          Alertas de emergência foram emitidos nas províncias de North
          Gyeongsang e Gangwon e em algumas partes de Seul no domingo, instando
          as pessoas a não entrarem em contato com os balões, e a alertarem a
          polícia.
          <br />
          <br />
          O comitê permanente do Conselho de Segurança Nacional da Coreia do Sul
          se reunirá na tarde de domingo para discutir a possibilidade de
          retomar o uso de alto-falantes na Coreia do Norte em resposta aos
          balões de lixo, informou a agência de notícias Yonhap, citando o
          gabinete presidencial.
        </p>
      </div>
    </section>
  </main>

  <!-- FOOTER -->

  <footer class="footerBox">
    <section id="footerSection">
      <div class="contatoBox">
        <div class="nameContato">Guilherme Custodio Nieto</div>
        <div class="contatoBar">
          <a href="https://github.com/GuilhermeCustodioNieto"
            ><i class="fi fi-brands-github icon github"></i
          ></a>
          <a href="https://www.linkedin.com/in/guilherme-cust%C3%B3dio-nieto/"
            ><i class="fi fi-brands-linkedin icon linkedin"></i
          ></a>
          <a href="https://www.facebook.com/guilherme.custodio.94064"
            ><i class="fi fi-brands-facebook icon facebook"></i
          ></a>
        </div>
      </div>

      <div class="contatoBox">
        <div class="nameContato">Lucas Caribé Araújo</div>
        <div class="contatoBar">
          <a href="https://github.com/LucasCaribeAraujo"
            ><i class="fi fi-brands-github icon github"></i
          ></a>
          <a href="https://github.com/LucasCaribeAraujo"
            ><i class="fi fi-brands-linkedin icon linkedin"></i
          ></a>
          <a href="https://github.com/LucasCaribeAraujo"
            ><i class="fi fi-brands-facebook icon facebook"></i
          ></a>
        </div>
      </div>
    </section>
  </footer>
</body>
