
#headerBox{
    border-bottom: 1.5px #000000 solid;
}

.navbar{
    margin: 7px 20px;
}

.nav-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    
}


.header-title{
    color: #000000;
    font: bold;
    font-size: 24px;
    
    text-decoration: none;
}

.navLink{
    padding: 15px 10px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #000000; 
    transition: 0.5s;
}

.navBar{
    margin-right: 50px;   
}

.navLink:hover{
    transform: translateY(-10px) ;
    text-decoration: underline #eee 1px;
    text-shadow: 0 0 5px #aeb1b3;
}

