#mainBox{
    height: 80%; 
    
    width: 100%;
}

#mainTitulo{
    font-size: 35px;
    padding: 10px;
    text-align: center;
    color: #233745;
    text-shadow: 0 0 3px #5fbcff;
    
}

.sectionCards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 40px;
    margin: 0px auto;
    max-width: 60%;
    padding: 10px;
    margin-bottom: 50px;
}

.sectionCards:nth-child(2){
    border-top: 0.3px solid #777;
    
    padding: 20px;
    margin-top: 10px;
}


/* Cards Noticias */

.cardBox:nth-child(1){
    grid-row: 1/3;
    border-bottom: 0px;
}

.cardBox:nth-child(2){
    border-bottom: 0.3px solid #999;
}

.cardBox{
    margin-top: 10px;
    height: 26vh;
}

.text1{
    grid-row: 2/3;
    border-bottom: 0px;
    text-align: end;
}
.img{
    grid-row: 1/3;
    border-bottom: 0px;
    
}

/* Texto dos Cards */
.dataDescricao{
    font-size: 0.8rem;
    color: #777;
    padding: 5px;
}


.tituloDescricao1{
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.textDescricao{
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}


.tituloDescricao{
    font-size: 2.2rem;
    font-weight: bold;
    color: #000;
    letter-spacing: 0.5px;
    padding: 10px 0px;
}

.descricaoText{
    font-size: 0.9rem;
    letter-spacing: 0.3px;
}

.link{
    text-decoration: none;
    color: #233745;
    transition: 0.5s ease-in-out;
}
.link:hover > .detail{
    text-shadow: 0 0 3px #3a607a;
    font-size: 0.8rem;
}
.link:hover{
    text-shadow: 0 0 3px #3a607a;
}

.detail{
    font-size: 0.6rem;
    transition: 0.5s ease-in-out;
}
/* imagens */

.imgNoticia2{
    width: 20.833vw;
    height: 250px;
    border-radius: 10px;
}

.imgNoticia1{
    width: 39.063vw;
    height: 48vh;
}

.imgNoticia{
    width: 15.625vw;
    height: 15vh;
}

.linkImg img{
    border-radius: 10px;
}

.img-noticia{
    border-radius: 7px;
}

.descricaoNoticia{
    font-size: 15px;
}

#noticia5 {
    border-top: 0.3px solid #777;
}