<div class="d-flex flex-column justify-content-center align-items-center">
  <h1>Dashboard</h1>

  <section class="w-75">
    <div class="card mt-4">
      <div class="card-body">
        <div class="links d-flex flex-column">
          <h2>Categorias</h2>
          <ul>
            <li><a href="/admin/categorias" class="m-1 text-dark">Lista de
                categorias</a></li>
            <li><a href="/admin/categorias/add" class="m-1 text-dark">Adicionar
                nova categoria</a></li>
            <li><a href="/admin/categorias/edit" class="m-1 text-dark">Editar
                categoria</a></li>
            <li><a
                href="/admin/categorias/deletar"
                class="m-1 text-dark"
              >Deletar categoria</a></li>
          </ul>
        </div>

        <div class="links d-flex flex-column">
          <h2>Notícias</h2>
          <ul>
            <li><a href="/admin/noticias" class="m-1 text-dark">Lista de
                noticias</a></li>
            <li><a href="/admin/noticias/add" class="m-1 text-dark">Adicionar
                nova noticia</a></li>
            <li><a href="/admin/noticias/edit" class="m-1 text-dark">Editar nova
                noticia</a></li>
            <li><a href="/admin/noticias/deletar" class="m-1 text-dark">Deletar
                noticia</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>